@import "./themes.scss";

.button-module {
    
position: relative;
	display: flex;
	align-items: center;
	color: $default-colorGrey2;
	z-index: 5;
	cursor: pointer;

	transition: all 0.55s ease-in-out;

	i {
		margin-right: 1rem;
		color: $default-colorGrey2;
		font-size: 1.5rem;
		transition: all 0.55s ease-in-out;
	}

	&:hover {
		color: $default-colorGrey0;
		i {
			color: $default-colorGrey0;
		}
	}
}
