@use "@picocss/pico/scss/pico" with (
	$theme-color: "purple"
);

@use "@picocss/pico/scss/colors" as *;

//Possible color choices: amber, azure, blue, cyan, fuchsia, green, grey, indigo, jade, lime, orange, pink, pumpkin, purple, red, sand, slate, violet, yellow, zinc

@import "./themes.scss";

main {
	margin: 2rem;
	margin-top: 0;
	@media screen and (max-width: 768px) {
		margin-top: 2rem;
		margin-bottom: 0;
	}
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	// max-height: calc(100% - 1rem);
}

.app-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	@media screen and (max-width: 768px) {
		justify-content: space-between;
	}
}

footer {
	position: absolute;
	bottom: 0;
	padding: 1rem;
	width: 100%;
	text-align: center;
}

.tasks-container {
	position: relative;
	padding: 1rem;
	width: 100%;
	height: 100%;

	overflow-y: scroll;

	//SCCROLLBAR STUFF vvvvvv

	&::-webkit-scrollbar {
		width: 0.5rem;
	}

	scrollbar-width: thin;
	scrollbar-color: $purple-600 $purple-900;

	//SCCROLLBAR STUFF ^^^^^^

	.tasks {
		margin: 2rem 0;

		display: flex !important;
		flex-direction: column !important;

		gap: 1rem;
	}

	> h1 {
		font-size: clamp(1.5rem, 2vw, 2rem);
		font-weight: 800;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			bottom: -0.5rem;
			left: 0;
			width: 3rem;
			height: 0.2rem;
			background-color: $purple-600;
			border-radius: 0.5rem;
		}
	}

	.create-task {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;

		background-color: $purple-900;

		height: 16rem;
		color: $purple-400;
		font-weight: 600;
		cursor: pointer;
		border-radius: 0.5rem;
		border: 3px dashed $purple-600;
		transition: all 0.3s ease;

		i {
			font-size: 1.5rem;
			margin-right: 0.2rem;
		}

		&:hover {
			background-color: $purple-800;
			color: $default-color-grey0;
		}
	}
}

.task-item {
	padding: 1.2rem 1rem;
	border-radius: 0.5rem;
	background-color: rgba($color: $purple-900, $alpha: 0.5);
	box-shadow: $default-shadow7;
	border: 2px solid $default-border-color2;

	height: 16rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	.date {
		margin-top: auto;
	}

	> h1 {
		font-size: 1.5rem;
		font-weight: 600;
		display: flex;
		justify-content: space-between;
		padding-right: 1rem;

		span:last-child {
			font-size: 2rem;
			line-height: 1rem;
		}
	}

	.task-footer {
		display: flex;
		align-items: center;
		gap: 1.2rem;

		button {
			border: none;
			outline: none;
			cursor: pointer;

			i {
				font-size: 1.4rem;
				color: $purple-200;
			}
		}

		.edit {
			margin-left: auto;
		}

		.edit,
		.delete {
			background: none;
		}

		.completed,
		.incomplete {
			display: inline-block;
			padding: 0.4rem 1rem;
			background: $pumpkin-300;
			color: $purple-800;
			font-weight: 600;
		}

		.completed {
			background: $lime-300 !important;
		}
	}
}

.sidebar {
	@media screen and (max-width: 768px) {
		position: fixed;
		bottom: 0;
		width: 100%;
		.nav-items {
			width: 100%;

			font-size: 30px;

			.nav-item {
				width: 100%;
				display: flex;
				justify-content: center;

				&::after {
					top: 100%;
					bottom: 0;
				}

				&::before {
					top: 0;
					bottom: 100%;

					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
				}

				&:hover {
					&::after {
						height: 100%;
						top: 0%;
					}
				}
			}
		}
		.nav-new-task {
			width: 100%;
            padding: 0.5rem;
			.nav-add-button {
				width: 100%;
                margin: 0.75rem 0;
                padding: calc(var(--pico-nav-element-spacing-vertical) - 0.25rem) var(--pico-nav-element-spacing-horizontal) ;
			}
		}
	}

	//To make the h1 slimmer
	h1 {
		margin: 0 !important;
	}

	> :first-child {
		margin-left: var(--pico-nav-element-spacing-horizontal) !important;

		//To make the h1 slimmer
		> :first-child {
			padding-bottom: 0 !important;
		}
	}

	> :last-child {
		margin-right: calc(
			2 * var(--pico-nav-element-spacing-horizontal)
		) !important;
	}

	.nav-item {
		height: 100%;
		position: relative;
		cursor: pointer;

		//Background fill thingy
		&::after {
			position: absolute;
			content: " ";
			left: 0;
			top: 0;
			bottom: 100%;
			width: 100%;
			height: 0%;
			background-color: $purple-400;
			opacity: 0.2;
			z-index: 1;
			transition: all 0.3s ease-in-out;
		}

		//Line on active nav items thingy
		&::before {
			position: absolute;
			content: " ";
			left: 0;
			top: 100%;
			bottom: 0;

			width: 100%;
			height: 0%;
			background-color: $purple-600;

			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}

		a,
		i {
			display: flex;
			gap: 0.5rem;
			align-items: center;
			// font-weight: 500;
			transition: all 0.3s ease-in-out;
			// z-index: 2;
			// line-height: 0;
			color: $purple-400;
		}

		//Actually activate the active nav item thingy
		&:hover {
			&::after {
				height: 100%;
			}
		}
	}

	.active {
		background-color: $purple-900;

		i,
		a {
			color: $purple-200;
		}
	}

	.active::before {
		height: 0.3rem;
	}

	.nav-new-task {
		width: 100%;
		.nav-add-button {
			width: 100%;
			height: 100%;
			margin-bottom: calc(var(--pico-nav-link-spacing-vertical) * -1);
			margin-top: calc(var(--pico-nav-link-spacing-vertical) * -0.5);
			box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
			color: $default-color-grey0;
			font-size: 1.4rem;

			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

.button-module {
	position: relative;
	transition: all 0.55s ease-in-out;
	color: $purple-200;

	display: flex;
	justify-content: center;

	i {
		margin-right: 1rem;
		font-size: 1.5rem;
		transition: all 0.55s ease-in-out;
	}

	span {
		display: flex;
		align-items: center;
	}

	&:hover {
		color: $default-color-grey0;
		i {
			color: $default-color-grey0;
		}
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 100;

	display: flex;
	justify-content: center;
	align-items: flex-start;

	overflow: auto;

	.modal-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.45);
		filter: blur(4px);
	}

	.modal-content {
		margin: 2rem 1rem;

		padding: 2rem;
		// position: relative;
		max-width: 800px;
		width: 100%;
		z-index: 100;

		border-radius: 1rem;
		background-color: $default-color-bg2;
		box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);

		@media screen and (max-width: 768px) {
			max-width: 630px;
		}

		@media screen and (max-width: 450px) {
			font-size: 90%;
		}
	}
}

.create-content-form {
	> h1 {
		font-size: clamp(1.2rem, 5vw, 1.6rem);
		font-weight: 600;
	}

	.create-content-body {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 1rem;
	}

	color: $default-color-grey1;

	.input-control {
		position: relative;
		margin: 1rem 0;
		font-weight: 500;
		width: 100%;

		label {
			width: 100%;
			margin-bottom: 0.5rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: clamp(0.9rem, 5vw, 1.2rem);

			span {
				color: $default-color-grey3;
			}
		}

		input,
		textarea {
			padding: 1rem;

			resize: none;
			background-color: $default-color-grey-dark;
			color: $default-color-grey2;
			border-radius: 0.5rem;
		}
	}

	@media screen and (max-width: 768px) {
		.input-control {
			margin: 0;
		}
	}

	.toggler-group {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		margin-bottom: 1rem;
	}

	.toggler {
		// display: flex;
		// align-items: center;
		// justify-content: space-between;

		cursor: pointer;

		label {
			flex: 1;
		}

		input {
			width: initial;
		}
	}

	.submit-btn button {
		transition: all 0.35s ease-in-out;

		@media screen and (max-width: 500px) {
			// font-size: 0.9rem !important;
			padding: 0.6rem 1rem !important;

			i {
				font-size: 1.2rem !important;
				margin-right: 0.5rem !important;
			}
		}

		i {
			color: $default-color-grey0;
		}
	}
}

// :root {
// 	--foreground-rgb: 0, 0, 0;@
// 	--background-start-rgb: 214, 219, 220;
// 	--background-end-rgb: 255, 255, 255;
// }

// @media (prefers-color-scheme: dark) {
// 	:root {
// 		--foreground-rgb: 255, 255, 255;
// 		--background-start-rgb: 0, 0, 0;
// 		--background-end-rgb: 0, 0, 0;
// 	}
// }
