@import "./themes.scss";

.task-item {
    padding: 1.2rem 1rem;
	border-radius: 1rem;
	background-color: $default-borderColor2;
	box-shadow: $default-shadow7;
	border: 2px solid $default-borderColor2;

	height: 16rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	.date {
		margin-top: auto;
	}

	> h1 {
		font-size: 1.5rem;
		font-weight: 600;
        display: flex;
        justify-content: space-between;
        padding-right: 1rem;

        span:last-child {
            font-size: 2rem;
            line-height: 1rem;
        }
	}

	.task-footer {
		display: flex;
		align-items: center;
		gap: 1.2rem;

		button {
			border: none;
			outline: none;
			cursor: pointer;

			i {
				font-size: 1.4rem;
				color: $default-colorGrey2;
			}
		}

		.edit {
			margin-left: auto;
		}

		.completed,
		.incomplete {
			display: inline-block;
			padding: 0.4rem 1rem;
			background: $default-colorDanger;
			border-radius: 30px;
		}

		.completed {
			background: $default-colorGreenDark !important;
		}
	}
}